body{
    background-image: url(../img/stehvenhn.jpg);
}

a{
    /* background-color: aliceblue; */
    /* padding: .4em; */
    /* margin: 1em; */
}

.link{
    max-width: fit-content;
    background-color: aliceblue;
    padding: .4em;
    margin: 1em;
}